.home {

}


.banner{
  height: 150px;
  width: 100%;
}

.grid ion-col{
  text-align: center;
}

.grid2 ion-col{
  text-align: center;
}

h6{
  font-size: 8px;
  padding-top: 0px;
  border: dashed 1px;
}
